@import url('https://fonts.googleapis.com/css2?family=Lexend+Exa&display=swap');
*{
    margin: 0px;
    padding: 0px;
    color: white;
}
#navbar{
    display: flex;
    justify-content: space-around;
    position: relative;
    background-image: url('/public/navbarbg.png');
    height: 30vh;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Lexend Exa', sans-serif;
}
#navleft{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 20vh;
    margin-left: 5vh;
}
#navleft h1{
    font-size: 3vh;
    color: #FFFF00;
}
#navleft p{
    font-size: 1.5vh;
    color: #FFFF00;
}
#navright{
    width: 35%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 20vh;
    margin-left: 50vh;
}
a{
    text-decoration: none;
    font-family: 'Lexend Exa', sans-serif;
}
#navright select{
    border: none;
    color: #FFE600;
    background-color: rgba(34, 17, 108, 1);
}
#b1{
    border: none;
    background-color: rgba(34, 17, 108, 1)
}
#b1 a{
    color: #FFE600;
}
#home{
    padding : 10px;
    border: 2px solid #FFE600;;
    border-radius: 10px;
    background-color: #FFE600;
}
#b1 #home{
    color: #22116C;
}
