.backedimages{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 10vh;
}
.backed{
    text-align: center;
}
.backed p{
    margin: 10vh;
    color: #22116C;
    font-family: "Lexend Deca", sans-serif;
    font-size: 8vh;
    font-weight: bolder;
}
@media(max-width:1250px){
    .backedimages img{
        height: 13vh;
    }
}
@media(max-width:1090px){
    .backedimages img{
        height: 11vh;
    }
    .backedimages{
        margin: 0px;
    }
}
@media(max-width:850px){
    .backedimages img{
        height: 9.5vh;
    }
}
@media(max-width:830px){
    .backedimages img{
        width: 30vh;
        height: 18.5vh;
        margin: 1vh;
    }
    .backedimages{
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 5vh;
    }
    .backed p{
        margin: 10px;
    }
}
@media(max-width:720px){
    .backed p{
        margin-top: 5vh;
    }
    .backedimages{
        display: flex;
    }
}
@media(max-width:460px){
    .backed p{
        font-size: 6vh;
    }
    .backedimages{
        margin: 3vh;
    }
}
@media(max-width:360px){
    .backed p{
        font-size: 5vh;
        margin-top: 5vh;
    }
}