.brandpage{
    position: relative;
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Lexend Deca", sans-serif;
}
#brand{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#brand h1{
    font-family: "Lexend Deca", sans-serif;
    color: #22116C;
    font-size: 7vh;
    font-weight: bolder;
    margin: 5vh;
    width: 80vw;
    text-align: center;
}
#brand p{
    font-family: "Lexend Deca", sans-serif;
    text-align: center;
    color: #808080;
    width: 90vh;
}
.brandPic{
    position: relative;
    margin-top: 5vh;
    display: flex;
    padding: 1.5rem;
}
.brandPic h2{
    font-family: "Lexend Deca", sans-serif;
    color: black;
}
.brandPic p{
    font-family: "Lexend Deca", sans-serif;
    color: black;
}
.storeGroup{
    width: 8vw;
    margin-left:2vw;
    margin-right: 4rem;
    text-align: center;
}
.brandbutton{
    position: relative;
    text-align: center;
    margin-top: 6vh;
    width:10vw;
    height: 4vh;
    font-size: 1.2rem;
    background-color: #22116C;
    border-radius: 10px;
    margin-bottom: 30px;
}
.brandbutton button{
    border: none;
    background-color: transparent;
    color:white;
}
.logosection{
    height: 70vh;
}
@media(max-width:720px){
    .storeGroup{
        margin: 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 25vh;
        align-items: center;
    }
    .brandPic{
        margin-top: 5vh;
        display: flex;
        flex-direction: column;
        padding: 1.5rem;
    }
}
@media(max-width:600px){
    #brand h1{
        font-size: 6vh;
    }
    #brand p{
        width: 60vh;
    }
}

@media(max-width:450px){
    #brand p{
        width: 40vh;
    }
}
@media(max-width:360px){
    #brand h1{
        font-size: 5vh;
    }
}