#cocacola{}
#haldiram{}
#nestle{
    margin-top: -5vh;
    margin-left: 10vh;
}
#balaji{
    margin-top: 5vh;
}
#amul{
    margin-top: -5vh;
    margin-left: 20vh;
}
#itc{
    margin-top: -5vh;
}
#chedda{
    height: 10vh;
}
#cavin{
    margin-top: 15vh;
}
#monginis{
    margin-left: -10vh;
}
#wafflemill{
    margin-right: 20vh;
    margin-top: -1vh;
    height: 20vh;
}
#snackible{
    margin-top: 10vh;
    margin-left: -10vh;
    margin-right: 10vh;
}
#paperboat{}
#part1{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
#brandby{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5vh;
}
#brandby h1{
    color:#22116C;
    font-size: 7vh;
    font-family: "Lexend Deca", sans-serif;
    margin: 2vh;
    font-weight: bolder;
    text-align: center;
}
#brandby p{
    color: #808080;
    font-family: "Lexend Deca", sans-serif;
    text-align: center;
    width: 70vh;
}
.brandbybutton{
    display: flex;
    align-items: center;
    justify-content: center;
}
#brandbyb{
    width: 13vw;
    height: 7vh;
    border: 2px solid #22116C;
    border-radius: 10px;
    color:#FFE600;
    background-color: #22116C;;
}
@media(max-width:950px){
    #part1{
        flex-wrap: wrap;
    }
#cocacola{
    margin: 0px;
}
#haldiram{
    margin: 0px;
}
#nestle{
    margin: 0px;
}
#balaji{
    margin: 0px;
}
#amul{
    margin: 0px;
}
#itc{
    margin: 0px;
}
#chedda{
    margin: 0px;
}
#cavin{
    margin: 0px;
}
#monginis{
    margin: 0px;
}
#wafflemill{
    margin: 0px;
}
#snackible{
    margin: 0px;
}
#paperboat{
    margin: 0px;
}
}
#image{
    display: none;
}
@media(max-width:720px){
    #brandbyb{
        width: 30vw;
        margin: 1vh;
    }
    #part1{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #images{
        display: none;
    }
    #image{
        display: block;
        display: flex;
        overflow-x: auto;
        margin: 20vw;
    }
}
@media(max-width:460px){
    #brandby h1{
        font-size: 5vh;
    }
    #brandby p{
        width: 35vh;
    }
    #image img{
        height: 15vh;
    }
}
@media(max-width:380px){
    #brandby h1{
        font-size: 5vh;
    }
    #brandbyb{
        width: 40vw;
        margin: 1vh;
    }
    #image img{
        height: 10vh;
        width: 20vw;
    }
}