.faqpage{
    margin-left: 10vw;
    margin-right: 10vw;
    margin-top: 10vh;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    color:white;
    font-family: 'Lexend Exa', sans-serif;
}

.faqpage h1{
    color:#22116C;
}

.faqpage .para{
    font-size: 0.7rem;
    color:#636363;
    margin-bottom: 10vh;
}
.faqpage .eachFaq{
    position: relative;
    display: flex;
    flex-direction: row;
}
.faqpage .circle{
    margin-top: 5vh;
    position: relative;
    height: 20px;
    width: 20px;
    background-color: #22116C;
    border-radius: 50px;
    margin-right: 5vw;
}
.faqpage .content{
    position: relative;
    width: 50vw;
    display: flex;
    flex-direction: column;
}
.content .upperContent p{
    margin-top: 2vh;
    color:#22116C;
    font-size: 0.7rem;
    font-weight: bold;
    margin-bottom: 2vh;
}

.content .lowerContent p{
    color:#636363;
    font-size: 0.7rem;
    margin-bottom: 2vh;
}
hr{
    background-color: #636363;
    height: 0.05vh;
    width: 100%;
}