
.introbg{
    background-image: url('../public/introbg.png');
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 70vh;
}
#intro p{
    font-family: "Lexend ";
}
#intro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#intro .heading{
    font-family: 'Karantina';
    color: #22116C;
    font-size: 10vh;
    text-align: center;
    width: 55vw;
    font-weight: bolder;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.intro{
    color: #6A6A6A;
    text-align: center;
    width: 40vw;
    margin: 8vh;
    font-family: "Lexend ";
    margin-top:2vh;
}
#introbutton{
    display: flex;
    justify-content: space-around;
}
#introb{
    width: 50vw;
    display: flex;
    justify-content: space-around;
    color: #FFE600;
}
@media(max-width:1000px){
    .intro{
        margin: 6vh;
    }
    .heading{
        font-size: 8vh;
    }
    .introbg{
        height: 70vh;
    }
}
@media(max-width:720px){
    .heading{
        font-size: 8vh;
    }
    #introb{
        flex-direction: column;
        align-items: center;
    }
    #introbutton{
        margin-top: -10vh;
    }
    .introbg{
        height: 90vh;
    }
}
@media(max-width:520px){
    .heading{
        font-size: 6vh;
    }
    #introbutton{
        margin-top: -15vh;
    }
    .introbg{
        height: 105vh;
    }
}
@media(max-width:450px){
    .introbg{
        height: 110vh;
    }
}
@media(max-width:390px){
    .heading{
        font-size: 5vh;
    }
    .introbg{
        height: 120vh;
    }
}
@media(max-width:330px){
    .introbg{
        height: 110vh;
    }
    .introbg{
        height: 125vh;
    }
    #intro .heading{
        font-size: 8vh;
    }
}
