.ourServicePage{
    margin-left: 15vw;
    margin-right: 15vw;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    color:#22116C;
    font-family: 'Lexend Exa', sans-serif;
}
.ourServicePage h1{
    font-size: 2.5rem;
    font-weight: 900;
    color:#22116C;
    margin-bottom: 10vh;
}
.ourServicePage .firstService{
    position: relative;
    display: flex;
    flex-direction: row;
}
.firstService .left{
    position: relative;
    height:50vh;
    background-color: #22116C;
    display: flex;
    flex-direction: column;
    width: 40%;
    color:yellow;
}
.left h1{
    margin-top: 10%;
    margin-left: 10%;
    margin-right: 10%;
    color:yellow;
    background-color: #22116C;
    font-size: 2.5rem;
    font-weight: bold;
}
.left p{
    margin-left: 10%;
    margin-right: 10%;
    color:yellow;
    background-color: #22116C;
    font-size: 0.9rem;
}
.firstService .right{
    position: relative;
    height:50vh;
    display: flex;
    flex-direction: column;
    width: 100%;
    color:yellow;
    margin-left: 1vw;
}

.right .eachLine{
    position: relative;
    display: flex;
    flex-direction: row;
}
.eachLine .circle{
    width: 30%;
    margin-top: 0.5vh;
    position: relative;
    height: 10px;
    width: 10px;
    background-color: #22116C;
    border-radius: 50px;
}
.eachLine .content{
    width: 90%;
    margin-left: 2vw;
    font-size: 0.8rem;
}
.content p{
    color:#22116C;
}

p .paraheading{
    color: #22116C;
    font-weight: 900;
}
.ourServicePage .secondService{
    position: relative;
    display: flex;
    flex-direction: row;
}

.ourServicePage h3{
    font-weight: 900;
    color:#22116C;
    margin-bottom: 1vh;
}

.secondService .left{
    position: relative;
    height:70vh;
    background-color: #22116C;
    display: flex;
    flex-direction: column;
    width: 30%;
    color:yellow;
}
.left h1{
    margin-top: 10%;
    margin-left: 10%;
    margin-right: 10%;
    color:yellow;
    background-color: #22116C;
    font-size: 2.5rem;
    font-weight: bold;
}
.left p{
    margin-left: 10%;
    margin-right: 10%;
    color:yellow;
    background-color: #22116C;
    font-size: 0.9rem;
}

.secondService .right{
    position: relative;
    height:50vh;
    display: flex;
    flex-direction: column;
    width: 70%;
    color:yellow;
}
.right .eachLine{
    position: relative;
    display: flex;
    flex-direction: row;
    margin-left: 5%;
}
.extradiv p{
    color: #22116C;
    font-size: 0.8rem;
}
.ourServicePage .thirdService{
    position: relative;
    display: flex;
    flex-direction: row;
}
.thirdService .left{
    position: relative;
    height:70vh;
    background-color: #22116C;
    display: flex;
    flex-direction: column;
    width: 40%;
    color:yellow;
}
.thirdService .right{
    position: relative;
    height:50vh;
    display: flex;
    flex-direction: column;
    width: 70%;
    color:yellow;
    margin-left: 2vw;
}
.ourServicePage .imagesSection{
    position: relative;
    display: flex;
    flex-direction: row;
}