#video{
    display: flex;
    justify-content: space-around;
    margin: 7vh;
    font-family: 'Lexend';
    align-items: center;
}
#videoleft{
    display: -webkit-box;
}
#videoleft button{
    color: #22116C;
    height: 50px;
    width: 50px;
    margin-right: 1vw;
    border-radius: 40px;
    border: 2px solid white;
    font-size: 2vh;
}
#videoright{
    display: -webkit-box;
}
#videoright button{
    color: #22116C;
    height: 50px;
    width: 50px;
    margin-right: 1vw;
    border-radius: 40px;
    border: 2px solid white;
    font-size: 2vh;
}
#video p{
    color: #22116C;
    width: 20vw;
}
#how{
    text-align: center;
    margin-top: 17vh;
}
#how h1{
    color: #22116C;
    margin-bottom: 0px;
}
@media(max-width:900px){
    #videoright button{
        padding: 1.5vw;
    }
    #videoleft button{
        padding: 1.5vw;
    }
}
@media(max-width:720px){
    #videoright button{
        padding: 2vw;
    }
    #videoleft button{
        padding: 2vw;
    }
    #video p{
        width: 30vh;
    }
    #video{
        justify-content: center;
        align-items: center;
    }
    .video1{
        display: flex;
        flex-direction: column;
    }
    .video2{
        display: flex;
        flex-direction: column-reverse;
    }
    .video3{
        display: flex;
        flex-direction: column;
    }
    .video4{
        display: flex;
        flex-direction: column-reverse;
    }
}
@media(max-width:460px){
    #videoright button{
        padding: 2.5vw;
    }
    #videoleft button{
        padding: 2.5vw;
    }
}
@media(max-width:360px){
    #video video{
        height: 25vh;
    }
}
@media(max-width:330px){
    #video video{
        height: 20vh;
        width: 30vh;
    }
}